<p> this page will contain a table with a all the couses offered. along with possibly a description </p>

<form action="/dashboard/Courses" method="POST">
    <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
    <input type="text" name="name" placeholder="Name" required>
    <input type="text" name="duration" placeholder="Duration" required>
    <input type="submit" value="Add new course" />
</form> 

    <table class="primary">
    <thead>
      <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Description</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
    <% for items in Course.all.reverse do%>
      <tr>
        <td><%= items.name %></td>
        <td><%= items.duration%> </td>
        <td> view  </td>
        <td> #deletebutton </td>
      </tr>
    </tbody>
    <% end %>
  </table>