<h1> main dashboard page that contains buttons for students, cohort, courses ,and courses </h1>
<div class="oneset" >
    <FORM METHOD="LINK" ACTION="/students">
        <INPUT TYPE="submit" VALUE="Take me to students">
    </FORM>

    <FORM METHOD="LINK" ACTION="/instructors">    
        <INPUT TYPE="submit" VALUE="Take me to Instructors">
    </FORM>
</div>


<br>

    <FORM METHOD="LINK" ACTION="/dashboard/Cohort">
        <INPUT TYPE="submit" VALUE="Take me to Cohorts">
    </FORM>

    <FORM METHOD="LINK" ACTION="/dashboard/Courses">
        <INPUT TYPE="submit" VALUE="Take me to Courses">
    </FORM>